[Unit]
Description=Report packet stats service

[Service]
Type=simple
ExecStart=/home/odroid/Desktop/mirai127/tools/report_packet_stats "172.24.12.108"

[Install]
WantedBy=default.target
