[Unit]
Description=Report packet stats service

[Service]
WorkingDirectory=/home/odroid/
User=odroid
Type=simple
ExecStart=/home/odroid/ping.sh
Restart=always

[Install]
WantedBy=default.target
