[Unit]
Description=Report packet stats service

[Service]
Type=simple
ExecStart=/home/odroid/report_packet_stats "192.168.11.3"


[Install]
WantedBy=default.target
